* {box-sizing:border-box}


h1,h1,h3,h4,h4,h6,br,button{
  font-family: "Lucida Console", Courier, monospace;
}
.headerBar{
  background-color: black;
  width: 100%;
  height: 34px;
  margin-top: 0%;
  padding-top: 10px;
  text-align: center;
  color: white;

}

.ul {
    list-style-type:none;
    padding-top:5px;    
    margin-left:8vh; 
  }
  
.li {
     float: left;
     list-style-type:none;
     padding-left: 20px;
    }
  
.li a {
     display: block;
     text-align: center;
     color: black;
     text-decoration: none;
     font-size: 18px;
  }
  
  .li a:hover {
    background-color: #555;
    color: white;
    font-size: 20px;
  }
  
  
  .headerIMG 
  {
    background-image: url("1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button{
    color: red;
    text-decoration: none;
  }
  .button:link{
    font-size:2rem ;
    background-color: white;
    color: tomato;
    height: 40px;
    width: 100px;
    text-align: center;
  }
  .button:hover{
    color: darkred;
  }
  

  .shopIMG{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    margin-top:80px ;
    text-align: center; 
  }

  .content1{
    margin-left: 10px;
    margin-right:30px;
    height: 600px;
    width: 800px;
  }


  .content2{
    margin-left: 30px;
    margin-right:30px;
    height: 600px;
    width: 800px;
  }

  .containerPriser{
    display: grid;
    grid-template-columns:[pris1] 50% [pris2] 50%; 
    margin-left: 6%;
  }

  h3 a{
    color:darkblue;
   }
 
  .containerFotter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    background-color: black;
    color: whitesmoke;
  }

 .fotterMeny{
  list-style-type: none;

 }
  .liFotter{
    color: whitesmoke;
  }

  
  
  @media only screen and (max-width: 600px) {
    .content1{
      margin-left: 0px;
      height: 160px;
      width: 140px;
    } 
    .content2{
    height: 160px;
    width: 140px;
    margin-right: ;
   }

   .containerPriser{
     font-size: 10px;
   }

   li a {
    font-size: 20px;
    padding-left: 400px;
    margin-left: -300px;

  }        
  .liFotter {
  font-size: 10px;
  }
  p{
    font-size: 10px;
  }
  h2{
    font-size: 14px;
  }

  }
}
